/* import tag */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* common css */

#app {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    --ow-black: #37474F;
    --ow-lightGray: #ECEFF1;
    --ow-lightBlue: #C1D5E0;
    --ow-mint: #5DF2D6;
    --ow-background: #FAFAFA;
    --ow-white: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--ow-black);
}

html {
    height: 100%;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    background: var(--ow-background);
}

::selection {
    background: var(--ow-mint);
}

h1 {
    display: inline-block;
    border-bottom: 10px var(--ow-lightGray) solid;
}

span {
    font-size: 12px;
    transition: all 1s;
}

select {
    color: #37474F;
    border: 1px solid var(--ow-lightBlue);
}

input, textarea {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    color: var(--ow-black);
}

button {
    min-width: 140px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgba(55, 71, 79, 0.01) 1px 0px;
    transition: all 0.5s;
}

button:hover {
    transition: all 0.5s;
    opacity: 0.5;
}

.btnMain {
    background: var(--ow-black);
    color: var(--ow-white);
}

.btnSub {
    background: var(--ow-lightGray);
    color: var(--ow-black);
}

/* Fragement View */

