/* import */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* Common Tag & Common Class Style */

body {
    --ow-black:         #37474F;
    --ow-lightGray:     #ECEFF1;
    --ow-lightBlue:     #C1D5E0;
    --ow-mint:          #5DF2D6;
    --ow-background:    #FAFAFA;
    --ow-default:       #FFFFFF;
    --ow-white:         #FFF;
    --ow-border:        #B0BEC5;
    color:              var(--ow-black);
    background:         var(--ow-background);
}

.darkMode {
    --ow-black:         #FAFAFA !important;
    --ow-background:    #37474F !important;
    --ow-white:         #37474F !important;
    --ow-default:       #263238 !important;
    color:              var(--ow-black) !important;
}

.darkModeImages {
    filter: invert(100%);
}

#app {
    height: 100%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.contentArea>div {
    width: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: var(--ow-background);
}

::selection {
    background: var(--ow-mint);
    color: #37474F;
}

h1 {
    display: inline-block;
    border-bottom: 10px var(--ow-lightGray) solid;
}

p {
    font-size: 16px;
}

span {
    font-size: 12px;
    transition: all 1s;
}

select {
    color: #37474F;
    border: 1px solid var(--ow-lightBlue);
}

input, textarea {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 300;
    color: var(--ow-black);
}

button, .btn {
    min-width: 120px;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 1rem;
    font-weight: 500;
    text-decoration: auto;
    box-shadow: rgb(55 71 79 / 30%) 0px 1px 3px;
    transition: all 0.5s;
}

button:hover, .btn:hover {
    transition: all 0.5s;
    opacity: 0.5;
}

.btnMain {
    background: var(--ow-black);
    color: var(--ow-white);
}

.btnSub {
    background: var(--ow-background);
    color: var(--ow-black);
    border: solid 1px var(--ow-black);
}

/* Fragement View */
.v-enter-active, .v-leave-active {
    transition: opacity 1s;
}

.fragment {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 62, 80, 0.8);
}

.fragment>div {
    width: 60%;
    max-width: 500px;
    height: fit-content;
    background: var(--ow-white);
    padding: 32px;
    border-radius: 16px;
}

.fragment .buttonBox {
    margin-top: 32px;
}

.fragment .buttonBox>button:nth-child(1) {
    margin-right: 16px;
}

