/* Home vue CSS*/
.homeView {
    padding-top: 140px;
}

.homeView h1 {
    cursor: default;
}

.homeLogo-animatioon {
    transition: all 1s;
}

.homeLogo-animatioon:hover {
    transform: scaleX(1.2);
    transition: all 1s;
}

.homeView b:first-child {
    font-size: 26px;
    font-weight: 500;
}

.mainButtonBox {
    margin-top: 64px;
}

.mainButtonBox button {
    margin: 8px;
}

.todayInfoList span {
    margin-top: 16px;
    line-height: 50px;
    font-size: 26px;
    font-weight: 100;
    cursor: default;
}

/* header component area */

.controllArea {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:32px;
    width: 80%;
    height: auto;
    text-align: right !important;
}

.controllArea img {
    width: 32px;
    height: 32px;
    cursor: default;
}

.controllArea button {
    margin-left: 8px;
}

.controllArea span {
    margin-left: 16px;
    margin-right: 8px;
    font-size: 16px;
    line-height: 36px;
}

.controllArea select {
    min-width: 120px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Writing vue CSS*/
.subPages {
    padding-top: 140px;
}

.subPages input, textarea {
    width: 50%;
    min-width: 300px;
    padding: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    margin-bottom: 16px;
    box-shadow: #90A4AE42 0px 2px 3px;
    font-size: 20px;
    transition: background-color 1s;
}

.write_title:hover {
    background-color: var(--ow-lightGray);
    transition: background-color 1s;
}

.write_title:focus, .write_title:focus-visible {
    border: none;
    border-bottom: 3px solid var(--ow-mint);
    outline: none !important;
    font-weight: 500;
}

.write_content {
    height: 300px;
    line-height: 40px;
    resize: vertical;
    transition: background-color 1s;
}

.write_content:hover {
    background-color: var(--ow-lightBlue);
    transition: background-color 1s;
}

.write_content:focus, .write_content:focus-visible {
    border: none;
    border-bottom: 3px solid var(--ow-mint);
    outline: none !important;
    font-weight: 500;
}